@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

:root {
  --max-width: 1000px;
  --dark: #000;
  --white: #fff;
  --primary: #2695ff;
  --secondary: #cc07cd;
  --gradient: linear-gradient(225deg, var(--secondary) 25%, var(--primary));
}

@font-face {
  font-family: 'Mabry';
  font-display: auto;
  src: url('../fonts/Mabry-Regular.woff2');
  src: url('../fonts/Mabry-Regular.woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Mabry';
  font-display: auto;
  src: url('../fonts/Mabry-Bold.woff2');
  src: url('../fonts/Mabry-Bold.woff');
  font-weight: 700;
}

body {
  background-color: var(--dark);
  font-family: 'Mabry', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  color: #fff;
}

body {
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  scrollbar-width: thin;
  scrollbar-color: var(--dark) rgba(255, 255, 255, 0.2);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

::selection {
  background-color: var(--secondary);
  color: var(--dark);
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  -moz-background-clip: initial;
  -moz-text-fill-color: initial;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: var(--dark);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0px;
}
